## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## RadRails
.project

## PROJECT::GENERAL
coverage
rdoc
pkg
test/integration/fixtures/log/*
test/integration/fixtures/log/**/*
test/unit/fixtures/rails/*
test/unit/fixtures/rails/**/*
test/unit/fixtures/standalone/*
test/unit/fixtures/standalone/**/*

## PROJECT::SPECIFIC
.loadpath